@use "./scss/sections/hero.scss";
@use "./scss/sections/projects.scss";
@use "./scss/sections/modal.scss";
@use "./scss/sections/about.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  min-height: 100dvh;
}

body {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
